*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
body{
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
