// google fonts import
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,regular,500,700,900);

@import './mixins/background_img';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    @include background_img();
}


.gameHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    .pokemonActualHolder{
        width: 100%;
        display: grid;
        justify-content: center;


    }
    li{     
        list-style: none;
        button{
            padding: 7px;
            border-radius: 4px;
            border: none;
        }
    }
}

.hidden{
    display: none;
}

.timer{
    width: 100%;
    text-align: center;
}
.namesHolder{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding-bottom: 20px;
    div{
        width: 100%;
    }
}
.imagesHolder{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    div{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

.scoreboard{
    display: grid;
    justify-content: center;
    gap: 3rem;

    h3{
        font-size: 3rem;
    }
}