// google fonts import
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,regular,500,700,900);

@import './mixins/background_img';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    @include background_img();
}

.horizontal{
    .list--all-pokemon{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 5px;

        li {
            display: flex;
            flex-wrap: wrap-reverse;
            gap: 4px;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.vertical{
    .top-game-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.gameHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .pokemonActualHolder{
        width: 100%;
        display: grid;
        justify-content: center;
    }

    li{     
        list-style: none;
        button{
            padding: 7px;
            border-radius: 4px;
            border: none;
        }
    }
}

.hidden{
    display: none;
}

.timer{
    width: 100%;
    text-align: center;
    position: relative;
    
    span {
        position: relative;
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: greenyellow;
        width: calc(calc(100% / var(--max-time)) * var(--current-time-left))
    }
}
.namesHolder{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding-bottom: 20px;
    div{
        width: 100%;
    }
}
.imagesHolder{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    div{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

.scoreboard{
    display: grid;
    justify-content: center;
    gap: 3rem;

    h3{
        font-size: 3rem;
    }
}